.last-main {
    padding: 60px 0 30px 0;
    background: #f9faf9;
    margin-top: 3rem;
}

.footer-top {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}

.a108 {
    display: flex;
    justify-content: space-between;
}

.mentor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* grid-template-rows: repeat(3,1fr); */
    padding: 0 120px;
    padding-top: 60px;
    height: auto;
    margin: 60px 0;
    background: #f9faf9;
}

.h1text {
    font-size: 24px;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

.a108 p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;

}

.mento strong {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
    margin-top: 0;

}

.usefull {
    margin-left: 60px;
}

.usefull i {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 2;
    padding-right: 5px;
    font-size: 14px;
}

.usefull p {
    margin: 10px;
}

.usefull p:hover i {
    color: #5fcf80;
    ;
}

.usefull p:hover {
    color: #5fcf80;
    ;
}

.service {
    margin-right: 40px;
}

.usefull h1 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

.service h1 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

.service li {
    color: #5fcf80;
}

.service i {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 2;
    padding-right: 5px;
    font-size: 14px;
}

.service p {
    margin: 10px;
}

.service p:hover i {
    color: #5fcf80;
    ;
}

.service p:hover {
    color: #5fcf80;
    ;
}

.Our {
    width: 370px;
}

.Our h1 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

.Our p {
    width: 370px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.search-container {
    padding-top: 30px;
    width: 430px;

}
.input {
    height: 45px;
    padding: 4px 8px;
    width: calc(100% - 140px);
    border: 0;
    background: #fff;
    border: 1px solid #e0e5e2;
    position: relative;
    border-radius: 50px;
}

.Our .search-container .click {
    border: 0;
    height: 45px;
    width: 6rem;
    border-radius: 40px;
    padding: 4px 8px;
    background: #5fcf80;
    left: -30px;
    position: relative;
    color: #fff;
}

.Our .search-container .from {
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    bottom: -1px;
    color: #fff;
    background: none;
    font-size: 16px;
    /* padding: 0 20px 2px 20px; */
    height: 40px;
    transition: 0.3s;

}

.Our .search-container .form {
    border: 2px solid red;
    background: #5fcf80;
    border-radius: 50px;
}

.Our .form .click:hover {
    background: #3ac162;
}


@media (max-width:660px) {
    .section1 {
        padding: 0 40px;
    }

    .footer_top {
        width: 100%;
        overflow-y: hidden;
        margin-top: 40px;

    }

    .mentor {
        padding-top: 60px;
        width: 100%;
        display: grid;
        grid-auto-flow: row dense;
        /* grid-template: 1fr /1fr 1fr; */
    }

    .a108 {
        width: 100%;
        grid-template-columns: 1fr/1fr;
        display: grid;

    }

    .Adam {
        height: 100%;
        margin: 0;
        padding: 0 30px;
        overflow-y: hidden;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .usefull {
        margin-left: -1px;
        margin-top: 30px;
    }

    .service {
        margin-top: 30px;
    }

    .service p {
        width: 100%;
    }

    .Our {
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }

    .Our p {
        width: auto;
    }

    .a108 .Our {
        width: 100%;
        overflow-y: hidden;
        text-decoration: none;
    }

    .Our .search-container {
        width: 100%;

        text-decoration: none;
        overflow-y: hidden;
        height: auto;
    }

    /* footer{
        margin: 0;
        padding: 0;
        width: 100%; 
    } 
    .footer2{
width: 100%;
text-align: center;
line-height: 2;
 }
.footer2 h2{
        padding-top: 30px;
        font-size: 15px;
        width: 100%;   
     }
     .footer2 p{
text-align: center;
width: 100%;
     }
    .footer3 {
        margin: 0;
        padding: 0;
        flex-direction: column;
        display: flex;
        width: 100%;
        margin-top: 10px;
    }
    .footer3 ul{
    
        text-align: center;
    } */
}

@media only screen and (max-width: 800px) {
    .section1 {
        padding: 0 40px;
    }

    .footer_top {
        width: 100%;
        overflow-x: hidden;
        margin-top: 40px;

    }

    .mentor {
        padding-top: 60px;
        width: 100%;
        display: grid;
        grid-auto-flow: row dense;
        /* grid-template: 1fr /1fr 1fr; */
    }

    .a108 {
        width: 100%;
        grid-template-columns: 1fr/1fr;
        display: grid;

    }

    .Adam {
        height: 100%;
        margin: 0;
        padding: 0 30px;
        overflow-y: hidden;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .usefull {
        margin-left: -1px;
        margin-top: 30px;
    }

    .service {
        margin-top: 30px;
    }

    .service p {
        width: 100%;
    }

    .Our {
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }

    .Our p {
        width: auto;
    }

    .a108 .Our {
        width: 100%;
        overflow-y: hidden;
        text-decoration: none;
    }

    .Our .search-container {
        width: 100%;

        text-decoration: none;
        overflow-y: hidden;
        height: auto;
    }

    /* footer{
        margin: 0;
        padding: 0;
        width: 100%; 
    } 
    .footer2{
width: 100%;
text-align: center;
line-height: 2;
 }
.footer2 h2{
        padding-top: 30px;
        font-size: 15px;
        width: 100%;   
     }
     .footer2 p{
text-align: center;
width: 100%;
     }
    .footer3 {
        margin: 0;
        padding: 0;
        flex-direction: column;
        display: flex;
        width: 100%;
        margin-top: 10px;
    }
    .footer3 ul{
    
        text-align: center;
    }
*/

}