.details1-count {
  background-color: #f6f7f6;
  height: 11.25rem;
  margin-top: 2.5rem;
}
.details-count {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
}
.name h2 {
  font-size: 3rem;
  display: block;
  color: #5fcf80;
  font-weight: 700;
}
.name p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #37423b;
}
@media only screen and (max-width: 700px) {
  .details1-count {
    height: auto;
  }
  .name p {
    padding-left: 15px;
  }
  .details-count {
    justify-content: space-around;
    text-align: center;
     display: flex;
    display: grid;
    grid: repeat(2, 120px) / auto-flow 80px;
  }
}
