.main_about {
  max-width: 1100px;
  margin: 0 auto;
}
/* animation add */
.about_main_section {
    /* perspective: 1200px;
    overflow: hidden; */
  }
.about {
  display: flex;
  overflow: hidden;
  gap: 14px;
  width: 100%;
  padding-top: 3.5rem;
}
.text h1 {
  font-size: 1.62rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: inherit;
}
.text h4 {
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.6;
  font-style:italic;
  padding-top: 4px;
  margin-top: 0;
  margin-bottom: 4px;
  justify-content: baseline;
}
.text h4 .about_icon {
  display: none;
}
.image_right {
  max-width: 600px;
  margin: 0 auto;
}
.image_right img {
  width: 100%;
  height: auto;
  display: block;
}
.text_icon {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  padding-top: 10px;
}
.text p {
  font-size: 16px;
}
.text {
  width: 100%; 
  opacity: 0.8;
  transform-origin: left center;
  transform: rotateY(-90deg);
  animation: slideFromLeft 2s ease-in-out forwards;
}
p .about_icon {
  color: #5fcf80;
  display: block;
  border: 1px solid #5fcf80;
  display: inline-flex;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 4px;
  margin-right: 8px;
  font-size: 20px;
}
  .image_right {
    width: 100%; 
    height: 100%;
    transform-origin: right center;
    transform: rotateY(90deg);
    animation: slideFromRight 2s ease-in-out forwards;
  }
@keyframes slideIn {
  to {
    transform: translateZ(0);
  }
}
@keyframes slideFromLeft {
  to {
    transform: rotateY(0deg);
  }
}
@keyframes slideFromRight {
  to {
    transform: rotateY(0deg);
  }
}
@media only screen and (max-width: 667px) {
  .about-main-section {
    padding: 0 20px;
  }
  .about {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
    margin-top: 30px;
  }
  .text h1 {
    width: 100%;
  }
  .text,
  .image_right {
    width: 100%; 
    transform: rotateY(0deg); 
  }
}
@media only screen and (max-width: 824px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
    margin-top: 30px;
  }
}
