.trainers {
  display: flex;
  max-width: 68.75rem;
  margin: 0 auto;
  padding-top: 40px;
}
.profile {
  display: flex;
  flex-wrap: wrap;
}
.profile1 {
  display: flex;
  flex-wrap: wrap;
  width: calc(33.33% - 20px);
  border: 1px solid rgb(242, 236, 236);
  margin-right: 20px;
  margin-bottom: 20px;
}
.profile1 img {
  max-width: 100%;
  height: auto;
  margin: -1px -1px 30px -1px;
}
.walter-white {
  text-align: center;
  padding: 0 20px 30px 20px;
}
.walter-white h2 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
}
.walter-white h4 {
  font-style: italic;
  display: block;
  font-size: 0.85rem;
  color: #6d6c6c;
}
.walter-white p {
  padding-top: 10px;
  font-size: 0.9rem;
  font-style: italic;
  color: #aaaaaa;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.walter-white i {
  color: rgb(192, 188, 188);
  margin-top: 15px;
  font-size: 1.2rem;
  margin: 0 4px;
}
.walter-white i:hover {
  color: #5fcf80;
  cursor: pointer;
}

@media only screen and (max-width: 990px) {
  .profile {
    padding: 0 40px;
    gap: 20px;
    margin-top: 30px;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(2, 1fr);
  }
  .profile1 img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #Trainers .profile1 {
    flex-direction: row;
    width: 100%;
    padding: 0;
  }
}


@media (max-width: 658px) {
  .trainers {
    margin-top: 70px;
  }
  .profile {
    padding: 0 50px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .profile1 {
    width: 100%;
  }
 
}
