.trainers{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 120px;
}
.profile {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
flex-wrap: wrap;
width: 100%;
margin-top: 30px;

}
.profile1 {
    display: table-row;
    width: 32%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(242, 236, 236);
    text-align: center;
}
.profile1 img {
    max-width: 100%;
    height: auto;
    margin: -1px -1px 30px -1px;
}
.walter-white {
    text-align: center;
    padding: 0 20px 30px 20px;
}
.walter-white h2 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    font-family: "Raleway", sans-serif
}
.walter-white h4 {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #6d6c6c;
}
.walter-white p {
    padding-top: 10px;
    font-size: 15px;
    font-style: italic;
    color: #aaaaaa;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
}
.walter-white i {
    color: rgb(192, 188, 188);
    margin-top: 15px;
    font-size: 18px;
    margin: 0 2px;
}
.walter-white i:hover {
    color:#5fcf80;
    cursor: pointer;
}

@media (max-width:660px) {


    .profile {
        width:100%;
        padding:0 50px;
        gap: 15px;
        margin-top: 30px;
        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: 1fr /1fr ;
    }
    .profile1 img{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #Trainers .profile1{
        flex-direction: row;
        width: 100%;
        padding:0;
    }
    

    
}

@media only screen and (max-width: 800px){
    .profile {
        width:100%;
        padding:0 50px;
        gap: 15px;
        margin-top: 30px;
        display: grid;
        grid-auto-flow: row dense;
        grid-template: 1fr /1fr ;
    }
    .profile1 img{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #Trainers .profile1{
        flex-direction: row;
        width: 100%;
        padding:0;
    }


}

@media only screen and (max-width: 990px){
    .profile {
        width:100%;
        padding:0 50px;
        gap: 15px;
        margin-top: 30px;
        display: grid;
        grid-auto-flow: row dense;
        grid-template: 1fr /1fr 1fr;
    }
    .profile1 img{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #Trainers .profile1{
        flex-direction: row;
        width: 100%;
        padding:0;
    }
}