


#pricing{
    /* padding-top: 120px; */
}
.pricing{
    background-color: #5fcf80;
    height: 150px;
    /* padding-top: 120px; */
}
.pricing h2{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 500;
   color: white;
}
.pricing p{
    padding: 0 120px;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 16px;
    margin-bottom: 0;
}
.row_4{
  max-width: 1100px;
  margin: 0 auto;
padding-top: 120px;
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    text-align: center;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    column-gap: 1.56rem;
}
#row_4{
    row-gap: 10px;

}
.free{
    height: auto;
    padding: 20px;
    background: #fff;
    text-align: center;
    border: 1px solid #eef0ef;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    height: 415px;
    width: calc(100% - 20px);

}
.free1{
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
}
#free1{
    color: #fff;
    font-size: 20px;
  background-color: #5fcf80;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.free1 h4{
    font-family: "Raleway", sans-serif;
}
#row_4 .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #5fcf80;
    color: #fff;
}
.dolar h3{
    font-size: 36px;
    color: #5fcf80;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.dolar h3 sup{
    font-size: 20px;
    top: -15px;
    left: -3px;
    position: relative;
    line-height: 0;
    vertical-align: baseline;
}
.dolar span{
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.dolar ul{
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;

}
.dolar ul li{
    padding-bottom: 16px;
}
.dolar  .na{
    color: #ccc;
  text-decoration: line-through;
}
 .free_butt{  
   margin: 15px -20px -20px -20px;
  
    padding: 13px 15px;
    background: #f8f8f8;
    text-align: center;
}
.free_butt a{
    background: #5fcf80;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}
.free_butt a:hover {
    background: #3ac162;
    cursor: pointer;
}




@media only screen and (max-width: 660px) {
    .row_4 {
        padding: 0 10px;
        flex-direction: column;
        /* display: grid; */
        /* grid-template-columns: 1fr/1fr; */
    }
    .free {
        margin: 20px 0;
    }
    .free1 h4 {
        font-family: "Raleway", sans-serif;
    }
    #row_4 .advanced {
        width: 200px;
        position: absolute;
        top: 18px;
        right: -68px;
        transform: rotate(45deg);
        z-index: 1;
        font-size: 14px;
        padding: 1px 0 3px 0;
        background: #5fcf80;
        color: #fff;
    }
    .free_butt {
        margin: -20px -20px 20px -20px;
        padding: 20px 15px;
        font-size: 16px;
        font-weight: 600;
        color: #777777;
        background: #f8f8f8;
    }
    .free_butt a {
        background: #5fcf80;
        display: inline-block;
        padding: 13px 35px;
        border-radius: 50px;
        color: #fff;
        font-size: 14px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        transition: 0.3s;
    }
    .free_butt a:hover {
        background: #3ac162;
        cursor: pointer;
    }
    
}


@media only screen and (max-width: 990px) {
    .row_4 {
        padding: 0 10px;
        flex-direction: column;
      
    }
    .free {
        margin: 20px 0;
        
    }
    .free1 h4 {
        font-family: "Raleway", sans-serif;
    }
    #row_4 .advanced {
        width: 200px;
        position: absolute;
        top: 18px;
        right: -68px;
        transform: rotate(45deg);
        z-index: 1;
        font-size: 14px;
        padding: 1px 0 3px 0;
        background: #5fcf80;
        color: #fff;
    }
    .free_butt {
        margin: -20px -20px 20px -20px;
        padding: 20px 15px;
        font-size: 16px;
        font-weight: 600;
        color: #777777;
        background: #f8f8f8;
    }
    .free_butt a {
        background: #5fcf80;
        display: inline-block;
        padding: 13px 35px;
        border-radius: 50px;
        color: #fff;
        font-size: 14px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        transition: 0.3s;
    }
    .free_butt a:hover {
        background: #3ac162;
        cursor: pointer;
    }
    
}