.aboutlink-top {
  padding-top: 40px;
}
.testimonial {
  padding: 3.75rem 6.87rem;
  overflow: hidden;
}
.testimonial1 {
  display: flex;
  gap: 40px;
  padding-left: 50px;
}
.container-freelancer {
  gap: 40px;
}
.scroll {
  display: flex;
  margin-right: 60px;
}
.scroll img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}
.scroll {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  width: 28.12rem;
  border: 1px solid #eef0ef;
  position: relative;
  background: #fff;
  animation: primary 3s linear infinite;
}
.scroll h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.scroll h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.scroll p {
  font-style: italic;
  margin: 15px auto 15px auto;
}
.scroll i {
  display: inline-block;
  left: -5px;
  position: relative;
  color: #c1ecce;
  font-size: 26px;
}

.container-freelancer {
  display: flex;
  height: 100%;
  width: 400%;
  animation: scroll 27s linear infinite;
}
.scrolling-div {
  flex: 1;
  height: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  border: 1px solid #ccc;
  padding: 20px;
}
/* Style for the static divs */
.static-div {
  flex: 1;
  height: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
}
/* Keyframes for the scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 824px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
  }
  .container-freelancer {
    display: grid;
    grid-template-columns: 1fr/1fr;
  }
}
