.centerloader{
  justify-content: center;
 align-items: center;
 
}

.lds-dual-ring {
    width: 80px;
    height: 80px;
  
  }
  .lds-dual-ring:after {
    content: " ";
    /* display: block; */
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid #ca1717;
    border-color: #c02525 transparent #d31c1c transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  